# VS Code settings
.vscode

# Node modules
node_modules/
**/node_modules/

# Env files (anywhere)
.env
**/.env

# Frontend build/next
apps/frontend/.next/
apps/frontend/build/
apps/frontend/.env

# Backend dist/env
apps/backend/dist/
apps/backend/.env

# Shared/package build
packages/shared/dist/
packages/setup.txt